*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}


*::selection{
    background-color: #04c30e;
    color: #1c22de;
}

html{
    scroll-behavior: smooth;
    
}

/* ######################## Header ########################### */

.header{
    background: #1c22de;
    background: linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -webkit-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -moz-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    box-shadow: 0px -5px 5px 1px rgba(0,0,0,0.67) inset;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    
    z-index: 1;
    color: white;
}


@media (min-width: 320px) and (max-width: 768px) {
    header {
        width: 100%; 
        height: 35px; 
    }
}

.header__container__cubo {
    perspective: 1000px; 

}

.header__container__cubo__cubo {
    width: 15px;
    height: 15px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: girar 5s infinite linear;
    background-color: black;
    margin-left: 10px;
}

.header__container__cubo__cubo .cara {
    position: absolute;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-color: black;    
}

/* Caras del cubo */

.frente {
    transform: rotateY(0deg) translateZ(7.5px);
    background-image: url('../image/css-120.png');
}

.atras {
    transform: rotateY(180deg) translateZ(7.5px);
    background-image: url('../image/html-120.png');
}

.derecha {
    transform: rotateY(90deg) translateZ(7.5px);
    background-image: url('../image/javascript-120.png');
}

.izquierda {
    transform: rotateY(-90deg) translateZ(7.5px);
    background-image: url('../image/react-120.png');
}

.arriba {
    transform: rotateX(90deg) translateZ(7.5px);
    background-image: url('../image/nodo-js-120.png');
}

.abajo {
    transform: rotateX(-90deg) translateZ(7.5px);
    background-image: url('../image/boostrap-120.png');
}

/* Animación de rotación del cubo */
@keyframes girar {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
} 


.hearder__conteiner__h1{
    font-size: 15px;
    padding-left: 30px;

}

/* Header container navbar */
.header__navbar__link{
    color: white;
    text-decoration: none;
    display: none;
    padding-left: 25px;
}

.header__icon-list__monbile i{
    color: white;
    margin-right: 10px;
    
}



/* ######################## Main ########################### */

.main{
    margin-top: 35px;
    width: 100%;
}




 .main__video {
    position: relative;
    width: 100%;
}

.video {
    width: 100%;
    object-fit: cover; 
} 




 .main__container__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #000000a6;
    padding: 5px; 
    border-radius: 10px;
    color: white; 
    
}

.main__text {
    font-size: 10px;
    margin: 2px;
}

.main__text span {
    font-weight: bold;
    color: #ffeb3b; 
} 

/* ######################### About me ######################### */

.about-me{
    background: #00125c;
    background: linear-gradient(90deg,#00125c 0%, #8100bf 80%);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 25px;
    margin-top: -2px;
    
}


.about-me__container-img {
    position: relative; 
    width: 50%;
    height: auto; 
}

.about-me__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}

.about-me__img {
    position: relative; 
    width: 100%; 
    z-index: 0; 
}


.about-me__container__text{
    height: 100%;
    width: 100%;
    color: white;
}

.about-me__text {
    font-size:  clamp(8px, 2.5vw, 20px);
    text-align: end;
    width: 100%;
    margin: 0;
    padding: 0;

}


/* ######################## Gallery ########################### */

.gallery{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 2px 0px;
}

.gallery__img{
    width: 15%;
    transition: all 0.5s ease-out;
}

.gallery__img:hover{
    background-color: #1c22de;
    border: 1px, solid, white;
    border-radius: 10px;   
    transition: all 0.1s ease-in;
}


/* ######################## Knowledge ########################### */

.conocimientos{
    background: #1c22de;
    background: linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -webkit-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -moz-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    box-shadow: 0px -5px 5px 1px rgba(0,0,0,0.67) inset;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conocimientos__container__img{
    background: #0000006d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.conocimientos__container__img img, h2, p{
    margin: 10px;
    color: white;
}

.conocimientos__title{
    color: #ffeb3b;
    font-weight: bold;
}

.conocimientos__text{
    font-size: 85%;
}

.conocimientos__container__link{
    color: white;
    border: 1px, solid, white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
}


.conocimientos__container__link:hover{
    background-color: #04c30e;
    border: 1px, solid, black;
    border-radius: 10px;   
    
}

.conocimientos__link{
    text-decoration: none;
    color: white;
}




.conocimientos__img{
    width: 75%;
    object-fit: cover;
}



/* ######################## Contact ########################### */


.contact{
    background: #00125c;
    background: linear-gradient(90deg,#00125c 0%, #8100bf 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 2px;
}

.contact__text{
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #ffeb3b;
}


.contact__form{
    background: #1c22de;
    background: linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -webkit-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    background: -moz-linear-gradient(149deg,#1c22de 20%, #00125c 70%);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.67) inset;
    color: white;
    padding: 20px;
    width: 75%;
}

.contact__input {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contact__input input::placeholder,
.contact__input textarea::placeholder{
    font-size: 10px;
    font-weight: bold;
    color: #1c22de;  
}


.contact__input input, textarea{
    border-radius: 5px;
    padding: 0px 0px 3px 5px;
    border: 0;
   
}

.contact__input input:focus,
.contact__input textarea:focus{
    background-color: black;
    color: #1c22de;
}


.contact__btn {
    background-color: inherit;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-bottom: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0px 0px 5px;
    width: 35%;
    transition: all 0.5s; 
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.contact__btn:hover {
    background-color: #04c30e; 
    border: 1px solid black;
    color: black;
    font-weight: bold;
}



/* ######################## Footer ########################### */

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.footer_title{
    font-size: 80%;
    font-weight: bold;
}


.footer__link{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    font-size: 80%;
    transition: all 0.5s;
}

.footer__link:hover{
    background-color: #04c30e; 
    border: 1px solid #1c22de;
    color: black;
    font-weight: bold;
}

/* ######################## Tablet resolution 768px ########################### */

@media (min-width: 768px) {

    .header{
        height: 10%;
    }

    .header__container__cubo__cubo {
        width: 22px;
        height: 22px;
        position: relative;
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg);
        animation: girar 5s infinite linear;
        background-color: black;
        margin-left: 10px;
    }
    
    .header__container__cubo__cubo .cara {
        position: absolute;
        width: 22px;
        height: 22px;
        background-size: cover;
        background-position: center;
        background-color: black;    
    }
    
    /* Caras del cubo */
    
    .frente {
        transform: rotateY(0deg) translateZ(11px);
        background-image: url('../image/css-120.png');
    }
    
    .atras {
        transform: rotateY(180deg) translateZ(11px);
        background-image: url('../image/html-120.png');
    }
    
    .derecha {
        transform: rotateY(90deg) translateZ(11px);
        background-image: url('../image/javascript-120.png');
    }
    
    .izquierda {
        transform: rotateY(-90deg) translateZ(11px);
        background-image: url('../image/react-120.png');
    }
    
    .arriba {
        transform: rotateX(90deg) translateZ(11px);
        background-image: url('../image/nodo-js-120.png');
    }
    
    .abajo {
        transform: rotateX(-90deg) translateZ(11px);
        background-image: url('../image/boostrap-120.png');
    }


    .hearder__conteiner__h1{
        font-size: 20px;
    }




    .header__icon-list__monbile{
        display: none;
    }


    .header__navbar{
        display: flex;
    }

    .header__navbar__link{
        color: white;
        text-decoration: none;
        display: block;
        padding-left: 25px;
    }

    .main__container__text{
        padding: 20px;

    }

    .main__text{
        font-size: 20px;
    }

    .about-me__container-img{
        width: 50%;
    }

    .conocimientos{
        display: flex;
        flex-direction: row;
    }

    .conocimientos__text{
        font-size: 80%;
    }


    .conocimientos__container__img{
        width: 100%;
        height: 90%;
        border-radius: 10px;
    }

    .conocimientos__img{
        object-fit: cover;
    }



}

/* ######################## Laptop resolution 1024px ########################### */


@media (min-width: 1024px){

    .header{
        height: 10%;
        }
        .about-me__container-img{
            width: 50%;
        }
    
 }

   



